

<!-- <div [ngSwitch]="day">
  <p *ngSwitchCase="1">Today is Monday</p>
  <p *ngSwitchCase="2">Today is Tuesday</p>
  <p *ngSwitchCase="3">Today is Wednesday</p>
  <p *ngSwitchCase="4">Today is Thurday</p>
  <p *ngSwitchCase="5">Today is Friday</p>
  <p *ngSwitchCase="6">Today is Saturday</p>
  <p *ngSwitchCase="7">Today is Sunday</p>
  <p *ngSwitchDefault>wrong Input</p>
</div>

<app-directive></app-directive> -->
<app-add (sentdata)="Addperson($event)"></app-add>
<app-display [data]="data"></app-display>